VAGRANTFILE_API_VERSION = "2"

HOST_PROJECTS_PATH = ""
VM_PROJECTS_PATH = ""
VM_IP = ""

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "ubuntu/xenial64"
  config.ssh.forward_agent = true
  config.vm.define "ubuntu-developer"
  config.vm.hostname = "ubuntu-developer"
  config.vm.network :private_network, ip: VM_IP
  config.vm.synced_folder HOST_PROJECTS_PATH, VM_PROJECTS_PATH, type: "nfs"

  config.vm.provider "virtualbox" do |vb|
    vb.name = "ubuntu-developer"
    vb.customize ["modifyvm", :id, "--memory", "6000"]
    vb.customize ["modifyvm", :id, "--cpus", "4"]
    vb.customize ["modifyvm", :id, "--natdnsproxy1", "on"]
    vb.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
    vb.customize ["modifyvm", :id, "--ostype", "Ubuntu_64"]
  end

  config.vm.provision "shell", path: "./scripts/provision.sh", privileged: true
  config.vm.provision "shell", path => "./scripts/startup.sh", run => 'always', privileged => true
end
